<div class="page-header">
  <h1>{{ page.title }}</h1>
  <div class="date"><b>Published:</b> {{ page.date | date: "%Y-%m-%d" }}</div>
  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}
</div>

<div class="row">
  <div class="span12">
    {{ content }}
    <hr>
    <div class="pagination pagination-centered">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Prev</a></li>
      {% else %}
        <li class="prev disabled"><a>Prev</a></li>
      {% endif %}
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next</a></li>
      {% else %}
        <li class="next disabled"><a>Next</a>
      {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr>
    {% include JB/comments %}
  </div>
</div>
